body {
  color: #000;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14pt;
  font-weight: 300;
  line-height: 1.5em;
  padding: 1em;
  max-width: 44em;
  margin: auto;
  /* background: #eff4e2; */
  background: #ffffff;
  text-rendering: optimizeLegibility;
  }
